// main.scss
// Graeme Nickerson
// October 2019

$primary-color: #4056A1;
$secondary-color: #a83a36;
$background-color: #f4f1ec;
$text-primary: #ffffff;
$text-secondary: #545149;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color:$text-secondary;
  background-color: $background-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  min-width: 485px;
}

@media only screen and (max-width: 1024px) {
  body > header {
    margin-top: 0px;
  }
  nav {
    background-color: transparent;
  }
  main {
    margin: 25px;
  }
  article {
    padding: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    nav {
      background-color: $primary-color;
    }
    header {
      margin: 25px;
      margin-top: 12px;
      width: auto;
    }
    main {
      width: 2000px;
      section {
        padding-left: 25px;
        padding-right: 25px;
      }
      #tweet {
        margin: 25px;
        margin-top: 12px;
      }
      article {
        padding: 0.25em;
        header {
          margin: 0px;
        }
      }
    }
  }
}
