article {
  padding: 1em;
  padding-bottom: 0.5em;
  border: 3px solid darkgrey;
  margin-bottom: 20px;
}
article:hover {
  box-shadow: 5px 5px #4056A1;
}

article:hover h4 {
  display: flex;
  color: darkgrey;
}

article img {
  height: 50px;
}

article h3 {
  margin: 0px;
  margin-top: 7px;
  margin-left: 7px;
  font-weight: 300;
}

article h4 {
  margin: 0px;
  margin-top: 7px;
  display: none;
  font-weight: 300;
}

article h6 {
  margin: 0px;
}

article p {
  border-bottom: 3px solid darkgrey;
  margin-bottom: 1px;
  margin-top: 7px;
  overflow-wrap: break-word;
}

article span {
  margin: 0px;
}

article > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}