form {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 0;
}

form textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f1ec;

  width: 100%;
  height: 2em;

  border-color: transparent;
  border-bottom-color: navy;
  border-bottom-width: 5px;

  /* font-weight: bold; */
  color: #404040;
}

form input {
  margin-top: 5px;

  background-color: #4056A1;
  color: #ffffff;
  font-family: 'Bungee', sans-serif; 
}

form span {
  font-family: 'Bungee', sans-serif; 
}

.neg {
  color: red;
}